{# Macros #}
{% macro streamlink(url) -%}
{{scheme}}://{{hostname}}:{{port}}/streamlink/video?url={{url}}
{%- endmacro %}

{% macro brightcove(url) -%}
{{scheme}}://{{hostname}}:{{port}}/brightcove/extract?url={{url}}
{%- endmacro %}

{% macro acestream(id) -%}
{{scheme}}://{{hostname}}:{{port}}/acestream/video?id={{id}}
{%- endmacro %}

{% macro globalmest(url) -%}
{{scheme}}://{{hostname}}:{{port}}/globalmest/extract?url={{url}}
{%- endmacro %}

{% macro acestream_resolve(name) -%}
{% set ns = namespace(result=resolved_channels.get(name, '')) -%}
{% for alt in varargs | default([]) -%}
{% if not ns.result %}{% set ns.result = resolved_channels.get(alt, '') %}{% endif -%}
{%- endfor -%}
{{scheme}}://{{hostname}}:{{port}}/acestream/video?id={{ ns.result }}
{%- endmacro %}