{# Macros #}
{% macro streamlink(url) -%}
{{scheme}}://{{hostname}}:{{port}}/streamlink/video?url={{url}}
{%- endmacro %}

{% macro brightcove(url) -%}
{{scheme}}://{{hostname}}:{{port}}/brightcove/extract?url={{url}}
{%- endmacro %}

{% macro acestream(id) -%}
{{scheme}}://{{hostname}}:{{port}}/acestream/video?id={{id}}
{%- endmacro %}

{% macro globalmest(url) -%}
{{scheme}}://{{hostname}}:{{port}}/globalmest/extract?url={{url}}
{%- endmacro %}

{% macro acestream_resolve(name) -%}
{{scheme}}://{{hostname}}:{{port}}/acestream/video?id={{ resolved_channels.get(name, '') }}
{%- endmacro %}